# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pyc

# venvs
.venv/
venv/
env/
ENV/

# build & cache
*.egg-info/
.eggs/
dist/
build/

# logs, runs, data
runs/
logs/
wandb/
data/
outputs/
checkpoints/
*.pt
*.pth

# OS/IDE
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.vscode/
