# -- Core ML & RL --
torch
torchvision
torchaudio
gymnasium==1.2.0
gymnasium[box2d]  # For BipedalWalker etc.

# -- Hyperparameter Tuning --
optuna
optuna-dashboard

# -- Logging & Visualization --
tensorboard==2.20.0
# Note: absl-py, grpcio, Markdown, protobuf, tensorboard-data-server, Werkzeug
# are all dependencies of tensorboard. Pip will handle them.

# -- Utilities --
cloudpickle==3.1.1
PyYAML==6.0.2
numpy==2.1.2
pygame==2.6.1      # Dependency for rendering some gym envs

# -- Other Core Dependencies --
# Note: Farama-Notifications, filelock, fsspec, Jinja2, MarkupSafe, mpmath,
# networkx, packaging, pillow, setuptools, sympy, typing_extensions are
# all dependencies of the above packages. We let pip resolve the best
# versions to avoid conflicts.